{% extends "index.html" %}

{% block title %}Key Access{% endblock title %}
{% block 'body' %}
    <div class="container mt-5">
        <form method="post" action="/Receiver/Verifykey" enctype="multipart/form-data" class="form-container">
            {% csrf_token %}
            <h1 class="h3 mb-4 text-center">Key Access</h1>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="key" id="floatingInput" required>
                <label for="floatingInput">Key</label>
            </div>

            <button class="btn btn-primary w-100 py-2" type="submit">Access</button>
            {% if message %} {{message}}  {% endif %}
        </form>

    </div>

    <style>
        .form-container {
            max-width: 400px; /* Set max width for the form */
            margin: auto; /* Center the form */
            padding: 20px; /* Padding inside the form */
            border: 2px solid DodgerBlue; /* Border color */
            border-radius: 10px; /* Rounded corners */
            background-color: white; /* White background for the form */
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
        }
    </style>
{% endblock 'body' %}
